@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Victoria, BC Canada<br />
    <abbr title="Phone">P:</abbr>
    250.555.5555
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Dylan.Dvorachek@gmail.com">Dylan.Dvorachek@gmail.com</a>
</address>
