@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>This is a side project with the goal of exploring .Net and C#.
    If you're reading this then the app has been successfully hosted on Azure.</p>
<p>Value for connection string <b>local_db</b> is
    <b>@Environment.GetEnvironmentVariable("MYSQLCONNSTR_localdb")</b></p>

<h4>Contact Information</h4>
<address>
    Victoria, BC Canada<br />
    <abbr title="Phone">Phone:</abbr>
    250.739.1684
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Dylan.Dvorachek@gmail.com">Dylan.Dvorachek@gmail.com</a>
    
</address>
<address>
    <strong>Media:</strong> <a href="https://www.linkedin.com/in/dylan-dvorachek-04731699/">LinkedIn</a>
    <a href="https://github.com/Dvorachek">GitHub</a>
    <a href="https://www.facebook.com/dylan.dvorachek">FaceBook</a>
</address>
